* {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    color: white;
}

table {
    border: 1px solid white;
}

table td {
    border-left: 1px solid white;
}

table caption {
    border: 1px solid white;
    background-color: rgba(117, 0, 0, 0.699);
}

li {
    color: blueviolet;
}

ol {
    color: yellow;
}

p {
    color: lightgreen;
}